body {
	background-image: url("../images/legal-pad.png");
}

.table, thead th {
	text-align: center;
}

.form-group {
	width: 30rem;
}

.input {
	width: 15rem;
}

.delete {
	text-transform: uppercase;
}

.delete a {
	color: #ff0000;
}

.delete a:hover {
	text-decoration: none;
	font-weight: bold;
}